/* Obscurbia Studios home page CSS */

.main_container{
	display: flex;

}


:root{
	font-size: 62.5%;

}





.web_title{
	display: flex;
	color: teal;

}


.body{
	
	background-color: lightgrey;
}


.box{
	display: flex;
}



#nav_bar{
	border-width: .5rem;
	border-style: solid;
	border-color: black;
	font-size: 2rem;
	background-color: grey;
}

#head_styles{

	font-size: 50px;
	font-weight: bold;
}

#subhead_styles{
 	
 	font-size: 20px;
 }


.p_styles{
	background-color: lightgrey;
	font-size: 20px;

}
#foot{
	font-style: italic;
	font-size: 1rem;
	color: teal;
}